/*-- icons --*/
.icons.main-grid-border {
    padding-top: 40px;
}
.icons a {
    color: #999;
	text-decoration:none;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(66, 180, 200, 0.3);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff;
}
.icon-box:hover a.agile-icon {
	color:#fff;
}
.icons .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #42B4C8!important;
    font-weight: 300;
    margin: 30px 0 15px;
	font-family: 'Exo 2', sans-serif;
}
h3.agileits-icons-title {
	text-align: center;
    font-size: 36px;
    color: #000;
    padding: 30px 0 10px;
	font-family: 'Exo 2', sans-serif;
}
.icons a {
    color: #999;
	text-decoration:none;
}
.icon-box i {
    margin-right: 10px;
    font-size: 20px;
    color: #282a2b;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: #e8f6fd;
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.icons .grid_3 {
    background-color: #fff;
    padding: 1.8em;
    margin-bottom: 1em;
    border: 1px solid #ebeff6;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.icons .grid_3 {
	margin-bottom: 2em;
}
/*-- //icons --*/

/*-- responsive design --*/
@media (max-width:768px) {
	h3.agileits-icons-title {
	font-size:30px;	
	}
	h3.icon-subheading {
    font-size: 20px;
}
}

@media (max-width:480px) {
h3.agileits-icons-title {
    font-size: 25px;
    padding: 0;
}
h3.icon-subheading {
    font-size: 18px;
}
.icons .bs-glyphicons li {
	width:23%;
}
}

@media (max-width: 414px) {
.icons .bs-glyphicons li {
    width: 31.3%;
}
}

@media (max-width: 320px) {
h3.agileits-icons-title {
    font-size: 22px;
}
h3.icon-subheading {
    font-size: 16px;
}
.icons .bs-glyphicons li {
    width: 48%;
}
}
/*-- /responsive design --*/